// Colors

$hydration-color: #5BC8AC;
$activity-color: #DFE166;
$sleep-color: #EC96A4;
$white: white;
$grey:  #9A9DAB;
$black: black;
$form-height: 200px;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
