@import 'variables';

* {
  margin: 0;
}

body {
  font-family: 'Open Sans';
  margin: 0;
  background-color: white;
  height: auto;
}

h1 {
  text-align: center;
  color: black;
  height: 80px;
  padding-top: 10px;
}

.main {
  @include flex-row;
  height: 1500px;
}

.main-sidebar-body {
  @include flex-row;
  width: 25%;
  height: 100%;
}

.body-sidebar-sidebarContainer {
  background-color: adjust-hue(#9A9DAB, -270%);
  border: 1px solid black;
  @include flex-column;
  align-items: center;
  text-align: center;
  overflow: scroll;
}

.sidebar-header-name {
  text-align: center;
}

.sidebar-header-userInfo {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: .5em .5em .5em .5em;
  width: inherit;
}

.sidebar-header-line {
  border: 1px solid black;
  margin: 1em 1em 0 1em;
  height: 0;
  width: 80%;
}

.sidebar-header-userImage {
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 200px;
  width: 200px;
  margin: 4px 2px 2px 2px;
  justify-content: center;
}

.sidebar-body-friendContainer {
  @include flex-column;
}

.sidebar-friendContainer-listItems {
  text-align: left;
}

.body-main-infoContainter {
  width: 100%;
  border: 1px solid black;
  margin: 0 0 1em;
  @include flex-column;
  overflow: scroll;
}

.submit-btn {
  &:hover {
    cursor: pointer;
  }
}

.main-column-hydration {
  @include flex-row;
  height: 25%
}

.main-column-activity {
  @include flex-row;
  height: 50%
}

.main-column-sleep {
  @include flex-row;
  height: 35%
}

.infoContainer-cardContainer-card-horizontal {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  @include flex-column;
  align-items: center;
  margin: 1%;
  justify-content: space-between;
}

.hydration-records {
  background-color: $hydration-color;
}

.horizontalCard-activity-container {
  @include flex-row;
  justify-content: space-around;
  width: 100%;
  overflow: scroll;
}

.infoContainer-cardContainer-card-vertical {
  width: 100%;
  border: 1px solid black;
  @include flex-row;
  margin: 1%;
}

.sleep-cards-vertical {
}

.card-today-hydration {
  text-align: center;
  background-color: $hydration-color;
  height: auto;
  font-size: 1.5em;
  margin: .5em;
  font-family: sans-serif;
  @include flex-column;
  justify-content: space-between;
  width: 80%;
}

.sleep-records {
  background-color: $sleep-color
}

.card-today-sleep {
  text-align: center;
  background-color: $sleep-color;
  height: auto;
  font-size: 1.5em;
  margin: .5em;
  font-family: sans-serif;
  @include flex-column;
  justify-content: space-between;
  width: 80%;
}

.card-today-activity {
  text-align: center;
  background-color: $activity-color;
  height: auto;
  font-size: 1.5em;
  margin: .3em;
  font-family: sans-serif;
  @include flex-column;
  justify-content: space-between;
  width: 40%;
}

.card-history-hydration {
  text-align: center;
  background-color: $hydration-color;
  font-size: 1em;
  margin: .5em;
  font-family: sans-serif;
  @include flex-column;
  justify-content: flex-start;
  width: 50%;
  overflow-wrap: break-word;
  overflow: scroll;
}

.card-history-sleep {
  text-align: center;
  background-color: $sleep-color;
  font-size: 1em;
  margin: .5em;
  font-family: sans-serif;
  @include flex-column;
  justify-content: flex-start;
  width: 50%;
  overflow: scroll;
}

.card-history-activity {
  text-align: center;
  background-color: $activity-color;
  font-size: 1em;
  margin: .5em;
  font-family: sans-serif;
  @include flex-column;
  justify-content: flex-start;
  width: 50%;
  height: 93%;
  overflow: scroll;
}

.number {
  font-size: 2em;
  font-weight: bolder;
  color: #4d4e4f;
  font-kerning: normal;
}

.historicalWeek {
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  color: black;
}

.thisWeek {
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  color: black;
}

.card-vertical-list {
  list-style-type: none;
  font-weight: lighter;
  font-style: italic;
  padding-left: 0;
  font-size: 1em;
}

.historical-list-listItem {
  padding: .3em;
  font-weight: bold;
  font-family: sans-serif;
}

.todays-metrics {
  @include flex-row;
  justify-content: space-around;
  align-items: space-between;
}

// .sleep-metric {
//   width: 85%;
// }

input {
  width: 85%;
  margin: 2%;
}

.hydration {
  @include flex-column;
  align-items: center;
  background-color: $hydration-color;
  height: $form-height;
  padding-top: 2%;
  width: 25%;
  margin-top: 2%;
  margin-bottom: 1%;
  border: 1px solid black;
}

.activity {
  @extend .hydration;
  background-color: $activity-color;
}

.sleep {
  @extend .hydration;
  background-color: $sleep-color;
}

.activity-records {
  background-color: $activity-color;
}

.hidden {
  display: none;
}
